<div>
  <h1>
    Welcome! Click the button to get started.
  </h1>
  <p>
    <b>Assumptions</b>: We know that all characters are coming from the first 3 films.
    Since this is a table specifically designed to show characters from specific films, I
    found it to be redundant to list the films here as well.

    The character sheet is cached for 5 minutes, efficiency could be had
    by creating async tasks for paginated requests. Currently I fetch the whole character set in one call.
  </p>
</div>

<button (click)="getPersons()">Get Characters</button>

<div *ngIf="isLoading">
  It may take a little while to first load the character sheet.
</div>

<div *ngIf="persons">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Homeworld</th>
        <th>DoB</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persons">
        <td> {{ p.name }} </td>
        <td> {{ p.homeworld }} </td>
        <td> {{ p.birthYear }} </td>
        <td> {{ p.height }} </td>
      </tr>
    </tbody>
  </table>

  <button (click)="downloadData()">Download</button>
</div>

<router-outlet></router-outlet>
